* {
  box-sizing: border-box;
}
.button-group {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  align-items: center;
}

.button {
  background-color: black;
  width: 100px;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 30px;
}

.button:hover {
  background-color: teal;
}
