* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2 {
    padding-bottom: 5px;
}

h2::before,
h2::after {
    content: "--";
    padding: 5px;

}


label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: rgb(1, 1, 1);
}

input {
    padding: 4px 5px;
    border: none;
    border-radius: 5px;
}

input:focus {
    /* outline: none; */
    outline: 2px solid rgb(224, 121, 12);
    box-shadow: 0 0 10px black;
}

button {
    background-color: #0e0eb78b;
    color: white;
    width: 30%;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

button:hover {
    background-color: #0e0eb7d9;
}

input[type="radio"],
input[type="checkbox"] {
  accent-color: #007bff; /* Example: blue accent color */
}

textarea {
    border: none;
    border-radius: 5px;
    padding: 5px;
}
textarea::placeholder {
    padding-left: 5px;
}
textarea:focus {
    outline: 2px solid rgb(224, 121, 12);
    box-shadow: 0 0 10px black;
}

.login {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;

}

.login-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 255, 255, 0.825);
    padding: 20px;
    border-radius: 10px;
}


.login form {
    width: 250px;
    
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    /* justify-content: flex-start; */
}

.subscription {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;

}

.subscription-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
    background-color: rgba(49, 255, 176, 0.818);
    padding: 20px;
    border-radius: 10px;
    width: 90%;
}


.subscription form {
   
    display: flex;
    align-content: center;
    column-gap: 10px;
}
.subscription form > label{ 
    align-self: center;
}