* {
    font-family: Epunda Slab;
}
body {
    background-image: url("./image.png");
    background-size: cover;
}

.page-title {
    color: darkblue;
    text-align: center;
    text-shadow: 3px 3px 5px red;
}
#nine {
    width: 300px;
    height: 200px;
    margin: auto;
    border: 1px solid black;
    background-image: linear-gradient( cyan, lightgreen );
}

h2 {
    font-weight: bold;
}

#ten {
    width: 300px;
    height: 200px;
    margin: auto;
    border: 3px solid red;
    border-radius: 5px;
    margin-top: 20px;
    color: white;
}